<!DOCTYPE html>
<html>
  <body>
    <br><br>
    <h1 class='event_header'>2018 시립대 축제 이벤트</h1>
    <!--item start-->
      <div class='event_item'>
        <div class='event_head_item'>
        <img src="<%= asset_path 'mailBox.png' %> " class='event_logo_img'></img>

        <div>
          <h2 class='event_item_name'>100일 우체통</h2>
          <h2 class='event_item_info'>5.15~5.18 / 학생회관 앞, 중앙로 / 항시운영</h2>
        </div>
      </div>
      <hr>
      <p class='event_item_content'>
        시립대학교 학우분들의 집배원이 되어드립니다!<br>
        추억을 가득 담아 편지를 쓰면, 100일 뒤에<br>발송해드려요!
      </p>
    </div>
    <!--item end-->
    <!--item start-->
      <div class='event_item'>
        <div class='event_head_item'>
        <img src="<%= asset_path 'music_note.png' %> " class='event_logo_img'></img>

        <div>
          <h2 class='event_item_name'>백 투 더 스테이지</h2>
          <h2 class='event_item_info'>5.18 / 중앙무대 / 02:30PM~04:00PM</h2>
        </div>
      </div>
      <hr>
      <p class='event_item_content'>
        시립인의 넘치는 끼를 보여주세요🎶<br>
        푸짐한 상금의 주인공은 바로 누구?🎵
      </p>
    </div>
    <!--item end-->
    <!--item start-->
      <div class='event_item'>
        <div class='event_head_item'>
        <img src="<%= asset_path 'treasure_box.png' %> " class='event_logo_img'></img>

        <div>
          <h2 class='event_item_name'>100주년에서 보물찾기</h2>
          <h2 class='event_item_info'>5.15~5.18 / 서울시립대학교 곳곳 / 11:00AM~07:00PM</h2>
        </div>
      </div>
      <hr>
      <p class='event_item_content'>
        학교 곳곳에 흩어진 보물을 찾아라!<br>
        보물을 찾고 미션을 달성해서,<br>푸짐한 상품 받아가세요!
      </p>
    </div>
    <!--item end-->
    <!--item start-->
      <div class='event_item'>
        <div class='event_head_item'>
        <img src="<%= asset_path 'amusement_park.png' %> " class='event_logo_img'></img>

        <div>
          <h2 class='event_item_name'>Hund-Land</h2>
          <h2 class='event_item_info'>5.17~5.18 / 자주터 / 10:00AM~10:00PM</h2>
        </div>
      </div>
      <hr>
      <p class='event_item_content'>
        100주년 기념 놀이동산, Hund-Land에서 운행되는<br>
        디스코 팡팡과 미니 바이킹으로 축제를 즐겨보세요!
      </p>
    </div>
    <!--item end-->
    <!--item start-->
      <div class='event_item'>
        <div class='event_head_item'>
        <img src="<%= asset_path 'photos.png' %> " class='event_logo_img'></img>

        <div>
          <h2 class='event_item_name'>백 투 더 포토로드</h2>
          <h2 class='event_item_info'>5.15~5.18 / 학생회관 앞 레드카펫<br>11:00AM~09:00PM<br>(의상대여 11:00AM~07:00PM)</h2>
        </div>
      </div>
      <hr>
      <p class='event_item_content'>
        100주년의 역사가 담긴 옷을 입고,<br>
        백 투 더 퓨처에서의 추억을 사진으로 남겨두세요!
      </p>
    </div>
    <!--item end-->
    <footer class='event_footer'>
      <hr>
      <img src='<%= asset_path 'UOS_LIKELION_ye.png' %> ' class='uos_likelion_logo'></img>
      <br>페이지 제작: 서울시립대학교 멋쟁이사자처럼<br>
      문범우, 강솔, 박건주, 박민승, 신민정, 차상원, 최희재<br>
      위의 모든 내용은 서울시립대학교 총학생회 페이스북에서 참고하였습니다.<br>
      실시간으로 변동 되는 사항에 대해서는 바로 반영되지 않을 수 있기 때문에<br>
      정확한 정보를 얻고 싶으시다면 아래 링크를 클릭하세요.<br>
      <a href='https://www.facebook.com/2018-서울시립대학교-축제-100th-to-the-Future-607287032763488/' target="_blank"><span class='event_footer_link'>(출처: https://www.facebook.com/2018-서울시립대학교-축제-100th-to-the-Future-607287032763488/)<span></a>
      
    </footer>
  </body>
</html>

<!-- 네비 bar -->
  <div class="nevi">
    
    <a href = "/festival"><div class="nev_block nimg1">
    </div></a>
    <a href = "/festival/schedule"><div class="nev_block nimg4">
    </div></a>
    <a href = "/festival/booth"><div class="nev_block nimg3">
    </div></a>
    
    <a href = "/festival/lineup"> <div class="nev_block nimg2">
    </div></a>
    <a href = "/festival/event"><div class="nev_block nimg5">
    </div></a>
    <a href = "/festival/foodtruck"><div class="nev_block nimg6">
    </div></a>
  </div>
 <!--스크립트 태그-->
   <script>
    $(document).ready(function(){
        $(".nimg1, .nimg2, .nimg3, .nimg4, .nimg5, nimg6").click(function(){
          $(this).animate({
            opacity: '1.0',
            height: '150px',
            width: '150px'
          });
        });
        
    })
    </script>